@charset "utf-8";
/* CSS Document */

*{
	padding: 0;
	margin: 0;
	background-color: #f9f6e8;
	width: 100%;
}

#header{
	text-align: center;
}
#reservation_1{
	text-align: center;
}

#seperate_1{
	text-align: center;
}
#reservation_2{
	text-align:center;
}
#seperate_2{
	text-align: center;
}
#text_1{
	text-align: center;
}
#seperate_3{
	text-align: center;
}
#text_2{
	text-align: center;
}
#seperate_4{
	text-align: center;
}
#text_3{
	text-align: center;
}
#seperate_5{
	text-align: center;
}
#text_4{
	text-align: center;
}
#seperate_6{
	text-align: center;
}
#footer{
	text-align: center;
}
